.hover-card-overlay {
  position: relative;
  border-radius: 10px;
  padding: 1rem;
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0) 70%,
    rgba(5, 186, 100, 0.2) 100%
  );
  transition: all .5s ease;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 0.1rem;
    background: linear-gradient(
      120deg,
      rgba(5, 186, 100, 0.8) 0%,
      rgba(255, 255, 255, 0) 60%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  &:hover {
    background: linear-gradient(
      130deg,
      rgba(5, 186, 100, 0.5) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 60%,
      rgba(5, 186, 100, 0.1) 100%
    );
  }
}
