.hover-card-overlay
{
    transition: all 0.3s ease;
    
}


.hover-card-overlay:hover{
    padding: 10px;
    background: linear-gradient(130deg, rgba(5, 186, 100, .8) 0%, rgba(255,255,255,0) 70%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    border: linear-gradient(130deg, rgba(5, 186, 100, .8) 0%, rgba(255,255,255,0) 50%);
    border-radius: 10px;  
    
}