@import url(./index.css);

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 0 0 2rem 0; */
  text-align: center;
  font-family: "IBM Plex Sans Thai", sans-serif;

}
.wrapper{
  display: flex;
  flex-direction: column;
}
.main-content{flex-grow: 1; position: relative; z-index: 1; display: flex; flex-direction: column; align-items: center; justify-content: center;}

.bg-trans {
  background-color: transparent;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #ECECEC;
}
.card-animate {
  transition: all 0.3s cubic-bezier(0.33, 2, 0.41, 0.69);
  transform: scale(1.02);
}