@import url(./index.css);

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 0 0 2rem 0; */
  text-align: center;
  font-family: "IBM Plex Sans Thai", sans-serif;

}
.wrapper{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.bg-trans {
  background-color: transparent;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #ECECEC;
}