@import url(./font/font.css);
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

:root {
  font-family: "IBM Plex Sans Thai", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-light: rgb(245, 245, 245);
  --color-dark: rgb(18, 18, 18);
  --color-primary: rgb(83, 76, 254);
  --color-secondary: rgb(5, 186, 100);
  --filter-color-secondary: brightness(0) saturate(100%) invert(50%) sepia(43%) saturate(2498%) hue-rotate(117deg) brightness(95%) contrast(96%);
  --color-yellow: rgb(255, 222, 23);
  --color-grey: rgb(142, 142, 142);;
  --txt-thin: 100;
  --txt-exlight: 200;
  --txt-light: 300;
  --txt-med: 500;
  --txt-sbold: 600;
  --txt-bold: 700;
}
/* ------------------- layout --------------------------- */
#root{position: relative; overflow: hidden;}
.container-1360 {  max-width: 1360px;}
.wrapper {
  width: 100%;
  position: relative;
  grid-template-rows: auto 1fr auto;  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}
body {
  background-color: var(--color-dark) !important;
  color: var(--color-light) !important;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
/* ------------------- element --------------------------- */
.ele-head-l{width: 100%; position: absolute; left: -28%; top: -4%; z-index: 0;}
.ele-head-r{width: 100%; position: absolute; right: -8%; top: 0%; z-index: 0;}

/* ------------------- text --------------------------- */
h1{font-size: 2.4em;}
h2{font-size: 2.2em;}
h3{font-size: 1.8em;}
h4{font-size: 1.4em;}
h5{font-size: 1.2em;}
h6{font-size: 1em;}
strong{ font-weight: var(--txt-sbold);}
b{font-weight: var(--txt-bold);}
.txt-upper {text-transform: uppercase;}
.txt-cap {  text-transform: capitalize;}
.txt-thin {  color: var(--txt-thin);}
.txt-exlight {  color: var(--txt-exlight);}
.txt-light {  color: var(--txt-light);}
.txt-med {  font-weight: var(--txt-med);}
.txt-bold {  font-weight: var(--txt-bold);}
.txt-sbold {  font-weight: var(--txt-sbold);}
.txt-crl-light {  color: var(--color-light);}
.txt-dark {  color: var(--color-dark);}
.txt-prim {  color: var(--color-primary);}
.txt-second {  color: var(--color-secondary);}

@media (min-width: 767.98px) {
}
@media (max-width: 1359.98px) {
  .container-1360 {
    max-width: 1140px;
  }
}
@media ((min-width: 1536px)) {
  .container-1360 {
    max-width: 1536px;
  }
}
@media (max-width: 1199.98px) {
  .container-1360 {
    max-width: 960px;
  }
  .menuClick {
  overflow: hidden;
}
}
@media (max-width: 991.98px) {
  .container-1360 {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container-1360 {
    max-width: 540px;
  }
}

@media (max-width: 575.98px) {
  .navbar-brand img {
    width: 70px;
  }
  .container-1360 {
    max-width: 100%;
  }
}
