.tab-content {
  padding: 20px;
  color: #fff;
  position: relative;
  z-index: 1;
}
/* --------------- card project -------------------- */

.card-link, .card-link a{text-decoration: none; color: var(--color-dark);}
.card-prj-icon img{ width: 5dvw; margin-right: .8rem;}
.line-clamp-2 {display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis; max-height: 3rem; line-height: 1.2rem;}

/* ------------------------------------------------ */
.ele-sch-l{position: absolute; left: -35%; top: -6%; width: 100%; z-index: 0;}
.ele-sch-r{position: absolute; right: -10%; top: -5%; width: 100%; z-index: 0;}


