.accordions {
  /* border: 1px solid #ddd; */
  background-color: transparent;
}

.accordion-items {
  /* border: 1px solid #ddd; */
  margin-bottom: 30px;
  border-radius: .5rem;
  position: relative;
  background: rgb(255,255,255);background: linear-gradient(150deg, rgba(255,255,255,0) 70%, rgba(5, 186, 100, 0.2) 100%);

}

.accordion-items::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: .5rem; 
  padding: .1rem; 
  background:linear-gradient(120deg, rgba(5, 186, 100, .8) 0%, rgba(255,255,255,0) 60%); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.accordion-items:last-child {
  margin-bottom: 0px;
}
.accordion-icon{font-size: 1.5rem;}
.accordion-titles {
    text-transform: uppercase;
    cursor: pointer; padding: 30px;
    display: flex; align-items: flex-start;
}
.accordion-title-txt{
    display: flex; flex-direction: column; align-items: flex-start;
}
.accordion-title-txt >span{
    font-size: .9em;
}

.accordion-titles h3 {
  margin: 0;
}

.accordion-contents {
  padding: 1rem;
  /* border-top: 1px solid #ddd; */
  background-color: transparent;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
.accordion-content.open {
  max-height: 200px; 
  padding: 1rem;
}