.scrollTop {
  position: fixed;
  right: 2%;
  bottom: 5%;
  padding: .5em;
  background-color: rgba(0, 0, 0, .4);
  backdrop-filter: blur(20px);
  border: 1px solid #f5f5f5;
  border-radius: .5rem;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollTop:hover {
  background-color: transparent;
}
