/* ------------------- banner -------------------------- */
.exh-banner{position: relative; width: 100%;height: 40dvw;}
.exh-banner a{color: var(--color-light);}
.exh-banner-bg{ background: url(./img/exh-banner.webp); background-size: 100%;}
.exh-banner-overlay{position: absolute; bottom: 0; left: 0; height: 100%; width: 100%; background: rgb(255,255,255);background: linear-gradient(180deg, rgba(255,255,255,0) 30%, rgba(5,186,100,.9) 100%);}
.exh-banner-ele{position: absolute; left: 0; bottom: 0; width: 30%;}
.exh-banner-content{position: relative; top: 85%; transform: translate(0, -85%);}
.git-link{font-size: 1rem; position: absolute; bottom: 1rem; left: 1rem; z-index: 1;}
.exh-txt-shadow{text-shadow: -3px 13px 20px rgba(5, 186, 100, 1), 0px 10px 20px rgba(83, 76, 254, 1);}

/* ------------------- card -------------------------- */
.icon-crl{font-size: 1rem; background-color: var(--color-light); color: var(--color-dark); padding: 0 .3rem; border-radius: 200px; transition: all .3s ease;}
.icon-crl + .icon-crl{margin-left: .5rem;}
.icon-crl + *{margin-right: .5rem;}
.insta-link-con{  white-space: nowrap; text-align: start;}
.insta-link-con a{color: var(--color-light); text-decoration: none; display: inline-block; padding: .4rem; font-size: .8rem; border: 1px solid; border-radius: 100px; transition: all .3s ease; &:hover{border: 1px solid var(--color-secondary); color: var(--color-secondary);} &:hover .icon-crl{background-color: var(--color-secondary);}}

.btn-icon{font-weight: var(--txt-sbold); color: var(--color-dark); text-align: start;}
.btn-icon span{background-color: transparent; padding: .4rem .8rem; border: .02rem solid var(--color-grey); border-radius: 100px; }
.card-exh-link{ display: flex; flex-direction: column; overflow: hidden; background-color: var(--color-light); padding: 1rem; border-radius: 1rem; position: relative;}
.card-exh-link a{color: var(--color-dark); text-decoration: none;}
.exh-img-pl{border-radius: .8rem; background: url(./img/exh-playlist.webp); background-size: cover; background-position: top center; width: 100%; height: 100%; min-height: 15dvw;}
.exh-img-ph{overflow: hidden; border-radius: .8rem; background: url(./img/exh-photo.webp); background-size: cover; background-position: top center; width: 100%; height: 100%; min-height: 15dvw;}
.card-exh-title{font-weight: var(--txt-bold); color: var(--color-secondary);}
.card-exh-text{color: var(--color-grey); font-size: .8em; margin-top: 1rem; flex-grow: 1;}
.card-foot{justify-content: flex-end; display: flex;}
.card-foot span{background-color: transparent; padding: .4rem .8rem; border: .02rem solid var(--color-grey); border-radius: 100px;}
.exh-card-ovl{z-index: 0;position: absolute; bottom: 0; left: 0; height: 100%; width: 100%; background: rgb(255,255,255);background: linear-gradient(130deg, rgba(255,255,255,0) 80%, rgba(144,245,197,.8) 100%);}
.card-exh-con{z-index: 1; position: relative;}
.card-exh-desc{color: var(--color-dark); font-weight: var(--txt-bold); font-size: 4.8rem;}

.exh-report-sec .card{border-radius: 1rem; overflow: hidden; display: flex; flex-direction: column; height: 100%; max-height: fit-content;}
.exh-ovl{pointer-events: none; z-index: 0;position: absolute; bottom: 0; left: 0; height: 100%; width: 100%; background: rgb(255,255,255);background: linear-gradient(140deg, rgba(255,255,255,0) 90%, rgba(144,245,197,.8) 100%);}
.card-exh-icon{color: var(--color-secondary); font-size: 2rem;}
.crl-icon-line{width: 100px; height: 100px; position: absolute; right: -.2em; bottom: -.1em; border: .01rem solid var(--color-grey); border-radius: 100px 0 0 0;}
.exh-report-sec .card-text{color: var(--color-dark); display: flex; flex-grow: 1;}
.exh-report-sec .card-body{position: relative; z-index: 1; display: flex; flex-direction: column;}

/* ------------------- slide ---------------------- */
/* .prj-vdoslide-nav .swiper-button-prev{opacity: 0; transition: opacity .3s ease; background: rgb(255,255,255);background: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(5,186,100,.5) 100%); width: 130px; height: 100%; top: 5%; left: -6%;}
.prj-vdoslide-nav .swiper-button-next{opacity: 0; transition: opacity .3s ease; background: rgb(255,255,255);background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(5,186,100,.5) 100%); width: 130px; height: 100%; top: 5%; right: -6%;} 
.prj-vdoslide-nav .swiper-button-prev.swiper-button-disabled,.prj-vdoslide-nav .swiper-button-next.swiper-button-disabled{opacity: 0;} 
.prj-vdoslide-nav .swiper-button-prev::after{color: var(--color-light); font-size: 3rem; margin-left: -4rem;}
.prj-vdoslide-nav .swiper-button-next::after{color: var(--color-light); font-size: 3rem;}
.prj-vdoslide-nav .swiper-button-prev:hover,
.prj-vdoslide-nav .swiper-button-next:hover {opacity: 1;} */

.prj-pl-nav .swiper-button-prev,
.prj-exh-nav .swiper-button-prev,
.prj-vdoslide-nav .swiper-button-prev,
.prj-knbslide-nav .swiper-button-prev{opacity: 0; transition: opacity .3s ease; background: rgb(255,255,255);background: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(5,186,100,.5) 100%); width: 130px; height: 100%; top: 5%; left: -6%;}
.prj-pl-nav .swiper-button-next,
.prj-exh-nav .swiper-button-next,
.prj-vdoslide-nav .swiper-button-next,
.prj-knbslide-nav .swiper-button-next{opacity: 0; transition: opacity .3s ease; background: rgb(255,255,255);background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(5,186,100,.5) 100%); width: 130px; height: 100%; top: 5%; right: -6%;}
.prj-pl-nav .swiper-button-prev.swiper-button-disabled,.prj-pl-nav .swiper-button-next.swiper-button-disabled,
.prj-exh-nav .swiper-button-prev.swiper-button-disabled,.prj-exh-nav .swiper-button-next.swiper-button-disabled,
.prj-vdoslide-nav .swiper-button-prev.swiper-button-disabled,.prj-vdoslide-nav .swiper-button-next.swiper-button-disabled,
.prj-knbslide-nav .swiper-button-prev.swiper-button-disabled,.prj-knbslide-nav .swiper-button-next.swiper-button-disabled{opacity: 0;}
.prj-pl-nav .swiper-button-prev::after,
.prj-exh-nav .swiper-button-prev::after,
.prj-vdoslide-nav .swiper-button-prev::after,
.prj-knbslide-nav .swiper-button-prev::after{color: var(--color-light); font-size: 3rem; margin-left: -4rem;}
.prj-pl-nav .swiper-button-next::after,
.prj-exh-nav .swiper-button-next::after,
.prj-vdoslide-nav .swiper-button-next::after,
.prj-knbslide-nav .swiper-button-next::after{color: var(--color-light); font-size: 3rem;}
.prj-pl-nav .swiper-button-prev:hover,
.prj-pl-nav .swiper-button-next:hover,
.prj-exh-nav .swiper-button-prev:hover,
.prj-exh-nav .swiper-button-next:hover,
.prj-vdoslide-nav .swiper-button-prev:hover,
.prj-vdoslide-nav .swiper-button-next:hover,
.prj-knbslide-nav .swiper-button-prev:hover,
.prj-knbslide-nav .swiper-button-next:hover{opacity: 1;}
.swiper-content{position: relative;}



.paper-plane img{width: 100%;}
.paper-plane {width: 36dvw; opacity: .8; position: absolute; right: 0; top: -20%; z-index: 1;}
/* .exh-feedback-sec{position: relative; margin-top: 5rem;} */
.feedback-con {
  position: relative; margin-top: 10rem; padding: 3rem;
  width: 100%;  height: 40dvw; 
  background: rgb(255,255,255);background: linear-gradient(150deg, rgba(255,255,255,0) 70%, rgba(5, 186, 100, 0.2) 100%);
  border-radius: 1.3rem; 
}
.feedback-con::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.3rem; 
  padding: .1rem; 
  background:linear-gradient(120deg, rgba(5, 186, 100, .8) 0%, rgba(255,255,255,0) 60%); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
/* .txt-bubble{
    position: relative;
    background: rgb(255,255,255);background: linear-gradient(150deg, rgba(255,255,255,0) 60%, rgba(5, 186, 100, 0.2) 100%);
    padding: .5rem 1rem; border-radius: 20rem; font-size: 1em;
    &::before{
        content: ''; position: absolute; inset: 0; border-radius: 20rem; padding: .1rem;
        background:linear-gradient(130deg, rgba(5, 186, 100, .8) 0%, rgba(255,255,255,0) 50%);
        -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 

    }
} */
 .txt-bubble {
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(150deg, rgba(255,255,255,0) 60%, rgba(5, 186, 100, 0.2) 100%);
    padding: .5rem 1rem;
    border-radius: 20rem;
    /* font-size: 1em; */
    width: 300px; /* Set your desired width */
    /* height: 50px;  */
    margin-top: 40px;
}

.txt-bubble::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 20rem;
    padding: .1rem;
    background: linear-gradient(130deg, rgba(5, 186, 100, .8) 0%, rgba(255,255,255,0) 50%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}



@media (max-width: 1359.98px) {
  
}
@media ((min-width: 1536px)) {
 
}
@media (max-width: 1199.98px) {
    .crl-icon-line{bottom: 0;}
 
}
@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
 .card-exh-title{font-size: .9em;}
 .card-exh-text{font-size: .6em; margin-top: 0;}
 .card-foot{font-size: .6em;}
}

@media (max-width: 575.98px) {

}
