@font-face {
    font-family: 'DB Heavent Black Ext It';
    src: url('DBHeavent-BlackExtIt.woff2') format('woff2'),
        url('DBHeavent-BlackExtIt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent Bold Ext It';
    src: url('DBHeavent-BoldExtIt.woff2') format('woff2'),
        url('DBHeavent-BoldExtIt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent Bold Ext';
    src: url('DBHeavent-BoldExt.woff2') format('woff2'),
        url('DBHeavent-BoldExt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent Ext';
    src: url('DBHeavent-Ext.woff2') format('woff2'),
        url('DBHeavent-Ext.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent Light Ext';
    src: url('DBHeavent-LightExt.woff2') format('woff2'),
        url('DBHeavent-LightExt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent Black Ext';
    src: url('DBHeavent-BlackExt.woff2') format('woff2'),
        url('DBHeavent-BlackExt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent Light Ext It';
    src: url('DBHeavent-LightExtIt.woff2') format('woff2'),
        url('DBHeavent-LightExtIt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent Med Ext It';
    src: url('DBHeavent-MedExtIt.woff2') format('woff2'),
        url('DBHeavent-MedExtIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent Ext It';
    src: url('DBHeavent-ExtIt.woff2') format('woff2'),
        url('DBHeavent-ExtIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent Med Ext';
    src: url('DBHeavent-MedExt.woff2') format('woff2'),
        url('DBHeavent-MedExt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent UltraLi Ext It';
    src: url('DBHeavent-UltraLiExtIt.woff2') format('woff2'),
        url('DBHeavent-UltraLiExtIt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent UltraLi Ext';
    src: url('DBHeavent-UltraLiExt.woff2') format('woff2'),
        url('DBHeavent-UltraLiExt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent Thin Ext';
    src: url('DBHeavent-ThinExt.woff2') format('woff2'),
        url('DBHeavent-ThinExt.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent Thin Ext It';
    src: url('DBHeavent-ThinExtIt.woff2') format('woff2'),
        url('DBHeavent-ThinExtIt.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

